USE [Teste]
GO
/****** Object:  StoredProcedure [dbo].[V_NOTA_FISCAL_CFOP]    Script Date: 02/08/2015 22:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[V_NOTA_FISCAL_CFOP] 
(
	@pCfop numeric
)
AS
BEGIN
	-- APRESENTAÇÃO DOS DADOS 
	-- CFOP | Valor Total da Base de ICMS | Valor Total do ICMS | Valor Total da Base de IPI | Valor Total do IPI
	SELECT 
		NFI.CFOP CFOP,
		SUM(NFI.BASEICMS) TOTALBASEICMS,
		SUM(NFI.VALORICMS) VALORTOTALICMS,
		SUM(NFI.BASEIPI) TOTALBASEIPI,
		SUM(NFI.VALORIPI) VALORTOTALIPI
	FROM NOTAFISCALITEM NFI
	WHERE NFI.CFOP = @pCfop
	GROUP BY NFI.CFOP
END
